* {
  all: unset; // Unsets everything so you can style everything from scratch
}

// Global Styles
.bar {
  background-color: rgba(0,0,0,0.8);
  color: #b0b4bc;
  padding: 5px;
  border: 2px solid #e53935;
  border-radius: 2px;
}

// Styles on classes (see eww.yuck for more information)

.bar .date {
  color: #33ccff;
  font-weight: bold;
  border: 1px solid #ff0000;
}

.bar .ram {
  color: #33ccff;
  font-weight: bold;
  border: 1px solid #ff0000;
}

.bar .cpu {
  color: #33ccff;
  font-weight: bold;
  border: 1px solid #ff0000;
}

.workspaces button {
  border-radius: 2px;
  padding: 0 3px;
  background-color: #666666;
}

.workspaces button:hover {
  color: #D35D6E;
}

.workspaces button.active {
  background-color: #e53935;
}

.arch-logo {
  margin: 0 15px;
  color: #e53935;
  font-weight: bold;
}

.rightside {
  border: 1px solid purple;
}
