* {
  all: unset; // Unsets everything so you can style everything from scratch
  font-family: JetBrainsMonoNerdFont;
  font-size: 13px;
}

.bar {
  background-color: rgba(0,0,0,0.8);
  color: #b0b4bc;
  padding: 5px;
  border: 2px solid #e53935;
  border-radius: 2px;
}

.bar .date {
  font-weight: bold;
}

.bar .net {
  font-weight: bold;
}

.bar .ram {
  font-weight: bold;
}

.bar .cpu {
  font-weight: bold;
}

.workspaces button {
  border-radius: 2px;
  padding: 0 3px;
  background-color: #666666;
}

.workspaces button:hover {
  color: #D35D6E;
}

.workspaces button.active {
  background-color: #e53935;
}

/* ================================================================================================================== */


.left-module {
  margin-left: 8px;
  border-radius: 10px;
  padding: 5px;
  background-color: #313743
}

.right-module {
  margin-right: 8px;
  border-radius: 10px;
  padding: 5px;
  background-color: #313743
}

.right-module .trayicons {
  color: #F8F8F2;
}

.right-module .clock {
  color: #F8F8F2;
}

.left-module .cpu-usage {
  border-radius: 15px;
  padding: 2px;
  color: #BD93F9;
}

.left-module .ram-usage {
  border-radius: 15px;
  padding: 2px;
  color: #FF79C6;
}

.left-module .down-speed {
  border-radius: 15px;
  padding: 2px;
  color: #50FA7B;
}

.left-module .up-speed {
  border-radius: 15px;
  padding: 2px;
  color: #F1FA8C;
}

.center-workspaces {
  border-radius: 10px;
  padding: 5px;
  background-color: #313743
}

.center-workspaces button {
  border-radius: 6px; 
  padding: 3px 8px;
  color: #ffffff;
}

.center-workspaces button:hover {
  background-color: #232b3a;
}

.center-workspaces button.active {
  background-color: #151b27
}

.arch-logo {
  margin: 0 15px;
  color: #ffffff;
  font-weight: bold;
}

.rightside {
}
