[submodule "nvim-config"]
	path = nvim-config
	url = https://github.com/carloshmfs/nvim-config.git
[submodule "alacritty/themes"]
	path = alacritty/themes
	url = https://github.com/alacritty/alacritty-theme.git
