#!/bin/sh

# start compositor for xorg
picom -b --fade-in-step=1 --fade-out-step=1 --no-fading-openclose

# keyboard hold key repeat rate
xset r rate 325 25

# mouse accel
xinput set-prop 11 296 -0.7

# desktop wallpaper
nitrogen --restore > /dev/null 2>&1
